* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Playfair", serif;
}

h1 {
  font-family: "Playfair", serif;
}

p,
button {
  font-family: "Poppins", serif;
}
