// Espaço da Hero na main
.ContainerHeroHome {
  height: 100%;
  width: 100%;
}

// tamanho da imagem
main .HeroHome {
  width: 100%;
  height: 50vh;

  background-image: url(../../assets/img/HeroHome.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// sombra da foto
main .HeroHome .BoxHeroHome {
  background-color: rgba(0, 0, 0, 0.438);

  width: 100%;
  height: 100%;
}

// Texto da Hero
main .HeroHome .BoxHeroHome h1 {
  width: 70%;
  height: 100%;

  margin-left: 20px;

  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;

  font-weight: 900;
  font-size: 2.8rem;
  color: #f6f5f1;
}
// fim da hero

// Tamanho do espaço do texto
main .ContainerTextHome {
  height: 40vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
}

// texto
main .ContainerTextHome h1 {
  width: 85%;

  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
}

// Inicio Card Home Normal
main .CardInicioHome {
  height: 30vh;
  width: 50vw;
  margin-left: 20px;

  margin-bottom: 5vh;

  display: flex;

  border: solid 1px #d8d4cb;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
}

// Espaço da Imagem
main .CardInicioHome .ContainerImgCard {
  height: 100%;
  width: 40%;
}

// tamanho da imagem
main .CardInicioHome .ContainerImgCard img {
  width: 100%;
  height: 100%;

  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;

  z-index: -2;
}

// tamanho do espaçamento do texto
main .CardInicioHome .ContainerTextcard {
  height: 100%;
  width: 60%;
}

// texto
main .CardInicioHome .ContainerTextcard h2 {
  height: 30%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  border-bottom: solid 1px#d8d2c8;
}

// texto
main .CardInicioHome .ContainerTextcard p {
  height: 70%;
  width: 100%;

  font-size: 0.8rem;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

// Inicio card invertido da HOME no inicio
main .CardInversoHome {
  height: 30vh;
  width: 50vw;
  margin-left: 45vw;
  margin-bottom: 5vh;

  display: flex;
  align-items: center;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
}
// tamanho do espaçamento do texto
main .CardInversoHome .ContainerinversoTextcard {
  height: 100%;
  width: 60%;
}
// texto
main .CardInversoHome .ContainerinversoTextcard h2 {
  height: 30%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  border-bottom: solid 1px#d8d2c8;
}
// texto
main .CardInversoHome .ContainerinversoTextcard p {
  height: 70%;
  width: 100%;

  font-size: 0.8rem;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

// Espaço da Imagem
main .ContainerInvertidoImgCard {
  height: 100%;
  width: 40%;
}

// tamanho da imagem
main .ContainerInvertidoImgCard img {
  width: 100%;
  height: 100%;

  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;

  z-index: -2;
}

// Previa das peças

main .ContainerPrevia {
  width: 100%;
  height: 100%;

  flex-wrap: wrap;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

main .ContainerPrevia .TextoPeças {
  width: 100%;
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

main .ContainerPrevia .TextoPeças h2 {
  font-size: 2.6rem;
}

main .ContainerPrevia .BoxPrevia {
  height: 400px;
  width: 400px;
  margin-left: 20px;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 12px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.ContainerPrevia .BoxPrevia figure {
  width: 100%;
  height: 80%;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.ContainerPrevia .BoxPrevia figure img {
  height: 100%;
  width: 100%;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.ContainerPrevia .BoxPrevia div {
  width: 100%;
  height: 20%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top: solid 2px red;
}

.ContainerPrevia .BoxPrevia div h3 {
  font-size: 1.6rem;
}
