header {
  width: 100%;
  height: 20vh;

  background-color: #f6f5f1;
}

header section {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header section figure {
  width: 15vw;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

header section nav {
  height: 100%;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: right;
}

// Logo
header section figure .Logo {
  height: 15vh;

  border-radius: 50%;
  border: transparent;
}

// Navegação
.textLink {
  margin: 0 1rem;
  color: #3e5a4c;

  font-weight: 600;
  font-size: 1.5rem;
  &:hover {
    opacity: 0.7;
  }
}
