header {
  width: 100vw;
  height: 20vh;

  background-color: #f6f5f1;
}

header section {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header section figure {
  width: 15vw;
  height: 100%;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

header section nav {
  height: 100%;
  width: 20%;
  margin-left: 50rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

// Logo
header section figure .Logo {
  height: 15vh;

  border-radius: 50%;
  border: transparent;
}

// Navegação
.textLink {
  margin: 0 1rem;
  color: #3e5a4c;

  font-weight: 600;
  font-size: 1.5rem;
  &:hover {
    opacity: 0.7;
  }
}

// Botao modo escuro
.darkToggle button {
  padding: 0.3rem;
  font-size: 1.5rem;
  cursor: pointer;

  color: #3e5a4c;
  background: none;
  border: none;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.6;
  }
}
