footer {
  height: 25vh;
  width: 100vw;

  background-color: #efece6;
}

footer .BoxLocalizacao {
  width: 100%;
  height: 20%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 300;
  font-size: 0.8rem;
}

footer .ContainerSocial {
  height: 40%;
  width: 100%;
}

footer .ContainerSocial .boxIcons {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.ContainerSocial .boxIcons button {
  width: 60px;
  height: 60px;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  font-size: 40px;
  border-radius: 50%;

  color: black;
  border: solid 2px #3e5a4c;
}

footer .boxLinha {
  height: 1px;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}
footer .boxLinha .Linha {
  border: solid 1px #d8d2c8;
  width: 60%;
}

footer .BoxDireitos {
  width: 100vw;
  height: 40%;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer .BoxDireitos p {
  font-size: 0.8rem;
  font-weight: 400;
}
